.sec-2 {
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 0%);
    height: 158em;
    column-gap: 0.5em;
}

.sec-2>.part {
    background-color: #161616;
    position: relative;
    height: 100%;
    top: 2.7em;
}

.sec-2>#left-part {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    row-gap: 2em;
    /* justify-content: space-evenly; */
}

.sec-2>#left-part>.your-library-and-playlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-2>#left-part>.your-library-and-playlist>.your-library {
    display: flex;
    align-items: center;
}

.sec-2>#left-part>.your-library-and-playlist>.your-library>img {
    height: 3em;
    cursor: pointer;
}


.sec-2>#left-part>.your-library-and-playlist>.your-library>p {
    font-weight: bold;
    font-size: 14pt;
    color: #b3b3b3;
}

.sec-2>#left-part>.your-library-and-playlist>.create-playlist {
    display: flex;
    align-items: center;
}

.sec-2>#left-part>.your-library-and-playlist>.create-playlist>i {
    font-size: 14pt;
    color: #b3b3b3;
}



.sec-2>#left-part>.create-first-playlst-browse-prodcs {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    height: 15em;
    overflow-y: scroll;
}

.sec-2>#left-part>.create-first-playlst-browse-prodcs>.chilldren {
    background-color: #1f1f1f;
    padding: 1em;
}

.sec-2>#left-part>.create-first-playlst-browse-prodcs>.chilldren>h4 {
    padding-bottom: 0.5em;
}

.sec-2>#left-part>.create-first-playlst-browse-prodcs>.chilldren>p {
    font-size: 14px;
    padding-bottom: 1.5em;
}

.sec-2>#left-part>.create-first-playlst-browse-prodcs>.chilldren>button {
    color: hsl(0, 0%, 0%);
    border: none;
    outline: none;
    padding-inline: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 20px;
}


.sec-2>#left-part>.links-and-lang {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding-left: 1em;
}

.sec-2>#left-part>.links-and-lang>.links {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.sec-2>#left-part>.links-and-lang>.links>.link {
    display: flex;
    column-gap: 1em;
}

.sec-2>#left-part>.links-and-lang>.links>.link>a {
    font-weight: 400;
    font-size: 11.5px;
    text-decoration: none;
}

.sec-2>#left-part>.links-and-lang>.lang{
    display: flex;
    align-items: center;
    column-gap: 0.3em;
    border: 0.8px solid hsl(0, 0%, 49%);
    border-radius: 20px;
    cursor: pointer;
   padding: 5px;
   padding-right: 16px;
   padding-left: 12px;
    width: fit-content;
    justify-content: center;
}

.sec-2>#left-part>.links-and-lang>.lang>img{
    height: 1.2em;
}

.sec-2>#left-part>.links-and-lang>.lang>span{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 14px;
}




.sec-2>#right-part {
    display: block;
    padding: 1em;
    overflow-y: scroll;
    height: 35em;
}



.sec-2>#right-part h1 {
    font-size: 25.5px;
    font-weight: 700;
}

.sec-2>#right-part>.child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2em;
}

.sec-2>#right-part>.child>div>.top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2em;
}

.sec-2>#right-part>.child>div>.cards {
    display: flex;
    justify-content: space-evenly;
    column-gap: 1.3em;
}

.sec-2>#right-part>.child>div>.cards>.card{
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
}


.sec-2>#right-part>.child>div>.cards>.card>p {
    width: 8.5em;
}

.sec-2>#right-part>.child>div>.cards>.card>p.name{
    font-size: 17px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.sec-2>#right-part>.child>div>.cards>.card>p.category,p.sub-names{
    color: hsl(0, 0%, 70%);
    font-size: 14.875px;
    font-weight: 400;
}


.sec-2>#right-part>.child div>.cards>.card>.profile {
    width: 8.5em;
    height: 8.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.sec-2>#right-part>.child>.Popular-artists>.cards>.card>.profile {
    border-radius: 100%;
}

.sec-2>#right-part>.child>.quick-links-and-copyright{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.sec-2>#right-part>.child>.quick-links-and-copyright>.quick-links{
    display: flex;
    justify-content: space-between;
}

.sec-2>#right-part>.child>.quick-links-and-copyright>.quick-links>.links-parts{
    display: flex;
    column-gap: 7em;
}

.sec-2>#right-part>.child>.quick-links-and-copyright>.quick-links>.links-parts>.part{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.sec-2>#right-part>.child>.quick-links-and-copyright>.quick-links>.links-parts>.part>h3{
    font-size: 17px;
    font-weight: 700;
}

.sec-2>#right-part>.child>.quick-links-and-copyright>.quick-links>.links-parts>.part>p{
    font-size: 17px;
    font-weight: 400;
    color: hsl(0, 0%, 70%);
}
.sec-2>#right-part>.child>.quick-links-and-copyright>.quick-links>.social-media{
    display: flex;
    column-gap: 1em;
}



.sec-2>#right-part>.child>.quick-links-and-copyright>span{
   height: 0;
   width: 100%;
   border-top: 0.2px solid rgb(58, 58, 58);
}

